body{
    color:black;
    background-color: white;
}
#heroSection{
    text-align: center;
    padding: 10%; 
}
.contentContainer{
    font-size: large;
    text-align: center;
    padding: 5%;
    margin: 2%;
    border: 4px dashed darkslateblue;
    border-radius: 25px;  
}
#contactBlock{
    background-color: coral; 
}
#journeyBlock{
    background-color: burlywood;
}
#aboutBlock{
    background-color: lightskyblue;
}
#skillBlock{
    background-color: lightcoral;
    ul{
        list-style-type: none;
    }
    
}
#progressBlock{
    background-color: indianred;
}
#testBlock{
    background-color:turquoise;
    ul{
        list-style-type: none;
    }
}